Page <input type="number" class="form page-input ml-2" min="1" [max]="pages" [(ngModel)]="page"
    (keydown.enter)="gotoPage()" />
<span class="ml-2">of {{pages}}</span>
<div class="btn-group ml-2">
    <button type="button" class="btn btn-default btn-sm shadow mr-5px" (click)="pageMinus()"
        [disabled]="(page_options.page === 1)" disabled="disabled">
        <img src="assets/images/icons/chevron_left.svg" alt="chevron_left">
    </button>
    <button type="button" class="btn btn-default btn-sm shadow" (click)="pagePlus()"
        [disabled]="(page_options.page >= page_options.pages)">
        <img src="assets/images/icons/chevron_right.svg" alt="chevron_right">
    </button>
</div>